:root {
    background-color:white;
    --border-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(0, 0%, 25%) 0%, 
      hsla(0, 0%, 25%, 0) 50%
    );
    --text-gradient-yellow: linear-gradient(
      to right, 
      hsl(0, 100%, 72%), 
      hsl(241, 100%, 68%)
    );

    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsla(0, 0%, 100%, 0);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(155, 100%, 72%);
    --vegas-gold: hsl(175, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --ff-poppins: 'Poppins', sans-serif;
  }
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a { text-decoration: crimson; }
  li { list-style: none; }
  img, ion-icon, a, button, time, span { display: block; }
  button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
  }
  
  ::selection {
    background: var(--orange-yellow-crayola);
    color: var(--smoky-green);
  }
  :focus { outline-color: var(--orange-yellow-crayola); }
  html { font-family: var(--ff-poppins); }

  .sidebar,
  article {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
  }
  
  .separator {
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
  }
  
  .icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
  }
  
  .icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    z-index: -1;
  }
  
  .icon-box ion-icon { --ionicon-stroke-width: 35px; }
  
  article { display: none; }
  
  article.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }
  .h2,
  .h3,
  .h4,
  .h5 {
    color: var(--white-2);
    text-transform: capitalize;
  }
  
  .h2 { font-size: var(--fs-1); }
  
  .h3 { font-size: var(--fs-2); }
  
  .h4 { font-size: var(--fs-4); }
  
  .h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
  }
  
  .article-title {
    position: relative;
    padding-bottom: 7px;
  }
  
  .article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
  }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
  }
  
  .has-scrollbar::-webkit-scrollbar-track {
    background: var(--onyx);
    border-radius: 5px;
  }
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--orange-yellow-crayola);
    border-radius: 5px;
  }
  .has-scrollbar::-webkit-scrollbar-button { width: 20px; }

  .content-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
  }
  
  .content-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
  }
  
  main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
  }
  .sidebar {
    margin-bottom: 15px;
    max-height: 112px;
    overflow: hidden;
    transition: var(--transition-2);
  }
  .sidebar.active { max-height: 405px; }
  .sidebar-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .info-content .name {
    color: var(--white-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    letter-spacing: -0.25px;
    margin-bottom: 10px;
  }
  .info-content .title {
    color: var(--white-1);
    font-size: var(--fs-8);
    font-weight: var(--fw-300);
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
  }
  .info_more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color:greenyellow;
    padding: 10px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
  }
  .info_more-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition-1);
    z-index: -1;
  }
  .info_more-btn:hover,
  .info_more-btn:focus { background: var(--bg-gradient-yellow-1); }
  
  .info_more-btn:hover::before,
  .info_more-btn:focus::before { background: var(--bg-gradient-yellow-2); }
  
  .info_more-btn span { display: none; }
  
  .sidebar-info_more {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
  } 
  .sidebar.active .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }
  .contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  .contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .contact-info {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
  }
  
  .contact-title {
    color: var(--light-gray-70);
    font-size: var(--fs-8);
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  
  .contact-info :is(.contact-link, time, address) {
    color: var(--white-2);
    font-size: var(--fs-7);
  }
  
  .contact-info address { font-style: normal; }
  
  .social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
  }
  
  .social-item .social-link {
    color: var(--light-gray-70);
    font-size: 18px;
  }
  
  
  .social-item .social-link:hover { color: var(--light-gray); }
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 12px 12px 0 0;
    box-shadow: var(--shadow-2);
    z-index: 5;
  }
  
  .navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  
  .navbar-link {
    color: var(--light-gray);
    font-size: var(--fs-8);
    padding: 20px 7px;
    color:greenyellow;
  }
  
  .navbar-link:hover,
  .navbar-link:focus { color: var(--light-gray-70); }
  
  .navbar-link.active { color: var(--orange-yellow-crayola); }
  .about .article-title { margin-bottom: 15px; }
  
  .about-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
  }
  
  .about-text p { margin-bottom: 15px; }
  
  .service-item-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-3);
    line-height: 1.6;
  }

  .achievements{ margin-bottom: 30px; }
  
  .achievements-title { margin-bottom: 20px; }
  
  .achievements-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin: 0 -15px;
    padding: 25px 15px;
    padding-bottom: 35px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
  }
  
  .achievements-item {
    min-width: 100%;
    scroll-snap-align: center;
  }
  
  .achievements-avatar-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15px, -25px);
    background: var(--bg-gradient-onyx);
    border-radius: 14px;
    box-shadow: var(--shadow-1);
  }
  
  .achievements-item-title { margin-bottom: 7px; }
  
  .achievements-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
  }
  
  .modal-container::-webkit-scrollbar { display: none; }
  
  .modal-container.active {
    pointer-events: all;
    visibility: visible;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-1);
  }
  
  .overlay.active {
    opacity: 0.8;
    visibility: visible;
    pointer-events: all;
  }
  
  .achievements-modal {
    background: var(--eerie-black-2);
    position: relative;
    padding: 15px;
    margin: 15px 12px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    box-shadow: var(--shadow-5);
    transform: scale(1.2);
    opacity: 0;
    transition: var(--transition-1);
    z-index: 2;
  }
  
  .modal-container.active .achievements-modal {
    transform: scale(1);
    opacity: 1;
  }

  .article-title { margin-bottom: 30px; }
  .timeline { margin-bottom: 30px; }
  
  .timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .timeline-list {
    font-size: var(--fs-6);
    margin-left: 45px;
  }
  .timeline-item { position: relative; }
  .timeline-item:not(:last-child) { margin-bottom: 20px; }
  .timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
  }
  .timeline-list span {
    color: var(--vegas-gold);
    font-weight: var(--fw-400);
    line-height: 1.6;
  }

  .timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: var(--text-gradient-yellow);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
  }
  
  .timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
  }

  .mapbox {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .mapbox figure { height: 100%; }
  
  .mapbox iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  @media (min-width: 450px) {

    .project-img,
    .blog-banner-box { height: auto; }
  
  }
  @media (min-width: 580px) {
    :root {
      --fs-1: 32px;
      --fs-2: 24px;
      --fs-3: 26px;
      --fs-4: 18px;
      --fs-6: 15px;
      --fs-7: 15px;
      --fs-8: 12px;
    }
    .sidebar, article {
      width: 520px;
      margin-inline: auto;
      padding: 30px;
    } 
    .article-title {
      font-weight: var(--fw-600);
      padding-bottom: 15px;
    }
    .article-title::after {
      width: 40px;
      height: 5px;
    } 
    .icon-box {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      font-size: 18px;
    }
    main {
      margin-top: 60px;
      margin-bottom: 100px;
    }
    .sidebar {
      max-height: 180px;
      margin-bottom: 30px;
    }
    .sidebar.active { max-height: 584px; }
    .sidebar-info { gap: 25px; }
    .avatar-box { border-radius: 30px; }  
    .avatar-box img { width: 120px; }
    .info-content .name { margin-bottom: 15px; }
    .info-content .title { padding: 5px 18px; }
    .info_more-btn {
      top: -30px;
      right: -30px;
      padding: 10px 15px;
    }
    .info_more-btn span {
      display: block;
      font-size: var(--fs-8);
    } 
    .info_more-btn ion-icon { display: none; }
    .separator { margin: 32px 0; } 
    .contacts-list { gap: 20px; }  
    .contact-info {
      max-width: calc(100% - 64px);
      width: calc(100% - 64px);
    }
    .navbar { border-radius: 20px 20px 0 0; } 
    .navbar-list { gap: 20px; } 
    .navbar-link { --fs-8: 14px; }
    .about .article-title { margin-bottom: 20px; }
    .about-text { margin-bottom: 40px; }
    .service-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 18px;
      padding: 30px;
    }
    .service-icon-box {
      margin-bottom: 0;
      margin-top: 5px;
    }
    .service-content-box { text-align: left; }
    .achievements-title { margin-bottom: 25px; }
    .achievements-list {
      gap: 30px;
      margin: 0 -30px;
      padding: 30px;
      padding-bottom: 35px;
    }
    .content-card {
      padding: 30px;
      padding-top: 25px;
    }
    .achievements-avatar-box {
      transform: translate(30px, -30px);
      border-radius: 20px;
    }
    .achievements-avatar-box img { width: 80px; }
    .achievements-item-title {
      margin-bottom: 10px;
      margin-left: 95px;
    }
    .achievements-text {
      line-clamp: 2;
      -webkit-line-clamp: 2;
    }
    .modal-container { padding: 20px; }
    .achievements-modal {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: 25px;
      padding: 30px;
      border-radius: 20px;
    }
    .modal-img-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .modal-avatar-box {
      border-radius: 18px;
      margin-bottom: 0;
    }
    .modal-avatar-box img { width: 65px; }
    .modal-img-wrapper > img {
      display: block;
      flex-grow: 1;
      width: 35px;
    }
    .timeline-list { margin-left: 65px; }
    .timeline-item:not(:last-child)::before { left: -40px; }
    .timeline-item::after {
      height: 8px;
      width: 8px;
      left: -43px;
    }
    .skills-item:not(:last-child) { margin-bottom: 25px; }
    .mapbox {
      height: 380px;
      border-radius: 18px;
    }
  
    .input-wrapper {
      gap: 30px;
      margin-bottom: 30px;
    }
  
    .form-input { padding: 15px 20px; }
  
    textarea.form-input { margin-bottom: 30px; }
  
    .form-btn {
      --fs-6: 16px;
      padding: 16px 20px;
    }
  
    .form-btn ion-icon { font-size: 18px; }
    .container{ min-width: calc(50% - 15px); }
  
  }
  @media (min-width: 768px) {
    .sidebar, article { width: 700px; }  
    .has-scrollbar::-webkit-scrollbar-button { width: 100px; }
    .contacts-list {
      grid-template-columns: 1fr 1fr;
      gap: 30px 15px;
    }
    .navbar-link { --fs-8: 15px; }
    .achievements-modal {
      gap: 35px;
      max-width: 680px;
    }
    .modal-avatar-box img { width: 80px; }
    .article-title { padding-bottom: 20px; }
    .filter-select-box { display: none; }
    .filter-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
      padding-left: 5px;
      margin-bottom: 30px;
    }
    .filter-item button {
      color: var(--light-gray);
      font-size: var(--fs-5);
      transition: var(--transition-1);
    }
    .filter-item button:hover { color: var(--light-gray-70); }
    .filter-item button.active { color: var(--orange-yellow-crayola); }
    .project-list, .blog-posts-list { grid-template-columns: 1fr 1fr; }
    .input-wrapper { grid-template-columns: 1fr 1fr; }
  
    .form-btn {
      width: max-content;
      margin-left: auto;
      
    }
    .container { min-width: calc(50% - 15px); }
    
  }

  @media (min-width: 1024px) {
    :root {
      --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
      --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
      --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  
    }
    .sidebar, article {
      width: 950px;
      box-shadow: var(--shadow-5);
    }
    main { margin-bottom: 60px; }
  
    .main-content {
      position: relative;
      width: max-content;
      margin: auto;
    }

    .navbar {
      position: absolute;
      bottom: auto;
      top: 0;
      left: auto;
      right: 0;
      width: max-content;
      border-radius: 0 20px;
      padding: 0 20px;
      box-shadow: none;
    }
  
    .navbar-list {
      gap: 30px;
      padding: 0 20px;
    }
  
    .navbar-link { font-weight: var(--fw-500); }
    .service-list {
      grid-template-columns: 1fr 1fr;
      gap: 20px 25px;
    }

    .achievements-item { min-width: calc(50% - 15px); }
    .container { min-width: calc(50% - 15px); }
  }

 
  .container1{
    width: 90%;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0px 5px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

.container1{
  width: 90%;
  height: 60vh;
  padding: 20px;
  border-radius: 20px;
  box-shadow:  0px 5px 25px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;

  height:600px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
}
.container1 form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.inputBox{
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}
.inputBox input[type="text"], .inputBox input[type="email"]{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: blue;
  outline: blue;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}
.inputBox textarea{
  width: 100%;
  height: 120px;
  border-radius: 5px;
  border: blue;
  outline: blue;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0px 10px;
  font-size: 16px;
  color: #444;
}
.inputBox button{
  width: 100%;    
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  
}
.inputBox button:hover{
  background: rgb(0, 17, 255);
  transition: all 0.3s ease;
}
::placeholder{
  font-size: 16px;
}
.alert{
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}

.row .col{
	flex-basis: 46%;
}
.row .sub-title h2{
	position: relative;
	color: blue;
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: chartreuse;
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: blue;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color: chartreuse;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 20px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color: chartreuse;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color: #d03645;
	border-radius: 15px;
	top: -1px;
	animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: #d03645;
}
@media(max-width: 768px){
	.container{
		padding: 30px 8%;
	}
}
@media(max-width: 568px){
	.container .row{
		flex-direction: column;
	}
	.container .main-title h1{
		font-size: 36px;
	}
	.container .row{
		margin-top: 30px;
	}
	.row .col:nth-child(2){
		margin-top: 20px;
	}
}

.box{
  width: 70%;
  margin: 100px auto;
  background: blue;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.box h1{
  background: rgba(215, 217, 239, 0);
  border-radius: 7px 7px 0px 0px;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  font-family: cursive;
}

.projects{
  padding: 0px 20px 20px;
}

details{
  background: white;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}

details summary{
  outline: none;
  font-size: 20px;
  padding: 8px;
  color: rgb(34, 33, 35);
  font-weight: 600;
  font-family: cursive;
}

details p{
  font-size: 15px;
  line-height: 24px;
  color: lawngreen;
  padding: 8px;
  font-family: cursive;
}

@media (max-width: 768px){
  .box{
      width: 90%;
      margin: 100px auto;
      background: blue;
      border-radius: 7px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  }

  details summary{
      outline: none;
      font-size: 12px;
      padding: 8px;
      color: rgb(34, 33, 35);
      font-weight: 600;
      color: black;
  }
  details p{
    color:lawngreen
  }
}